.navBar{
    opacity: 100%;
}
.navItems{
    transform: rotate(90deg);
    border: solid gray;
    color: rgb(255, 255, 255);
    background-color: rgb(19, 19, 19);
    opacity: 75%;
    display: inline-flexbox;
    position: sticky;
    float: right;
    margin: auto;
    
}
/* make active, hover for nav- turn nav into a side drop down that expand individualy